# üé¨ An√°lise de Filmes e Avalia√ß√µes

üé¨ An√°lise de Avalia√ß√µes de Filmes ‚Äì Projeto MovieLens

Este estudo tem como prop√≥sito explorar a base de avalia√ß√µes de filmes do MovieLens, buscando compreender o comportamento dos usu√°rios e identificar padr√µes relevantes.
A investiga√ß√£o aborda:

1. distribui√ß√£o das notas,

2. Todo o processo de prepara√ß√£o dos dados.

3. an√°lise dos g√™neros mais populares,

4. ranking dos melhores e piores filmes.

<br>  A an√°lise foi realizada com Python, Pandas e ferramentas de EDA, com foco em clareza, simplicidade e extra√ß√£o de insights.
## üêç Importando Bibliotecas e Dados

In [98]:
import pandas as pd
notes = pd.read_csv(r"C:\Users\Administrador\Downloads\credits.csv\ratings.csv")
filme = pd.read_csv(r"C:\Users\Administrador\Downloads\credits.csv\movies.csv")
links = pd.read_csv(r"C:\Users\Administrador\Downloads\credits.csv\links.csv")

## üßπ Tratamento dos Dados

In [62]:
import pandas as pd
notes = pd.read_csv(r"C:\Users\Administrador\Downloads\credits.csv\ratings.csv")
filme = pd.read_csv(r"C:\Users\Administrador\Downloads\credits.csv\movies.csv")
links = pd.read_csv(r"C:\Users\Administrador\Downloads\credits.csv\links.csv")
tags = pd.read_csv(r"C:\Users\Administrador\Downloads\credits.csv\tags.csv")
filmes = notes.merge(filme,on='movieId')
filmes = filmes.merge(filme,on='movieId')
filmes = filmes.merge(links,on='movieId')
filmes = filmes.merge(tags,on='movieId')
filmes = filmes[['movieId','rating','title_x','genres_x','imdbId']]
filmes

,movieId,rating,title_x,genres_x,imdbId
0,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709
1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709
2,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709
3,3,4.0,Grumpier Old Men (1995),Comedy|Romance,113228
4,3,4.0,Grumpier Old Men (1995),Comedy|Romance,113228
...,...,...,...,...,...
233208,168252,5.0,Logan (2017),Action|Sci-Fi,3315342
233209,168252,5.0,Logan (2017),Action|Sci-Fi,3315342
233210,168252,5.0,Logan (2017),Action|Sci-Fi,3315342
233211,168252,5.0,Logan (2017),Action|Sci-Fi,3315342
233212,168252,5.0,Logan (2017),Action|Sci-Fi,3315342

## üé¨ Top 10 Melhores Filmes Segundo as Avalia√ß√µes dos Usu√°rios

In [33]:
melhores_filmes = filmes.groupby('title_x')[['title_x','rating']].sum().sort_values(by='rating',ascending=False)
melhores_filmes = melhores_filmes.rename(columns={'title_x': 'Nome','rating': 'Avaliacao'})
melhores_filmes[:10]

,Nome,Avaliacao
title_x,,
Pulp Fiction (1994),Pulp Fiction (1994)Pulp Fiction (1994)Pulp Fic...,233218.5
Fight Club (1999),Fight Club (1999)Fight Club (1999)Fight Club (...,50301.0
Star Wars: Episode IV - A New Hope (1977),Star Wars: Episode IV - A New Hope (1977)Star ...,27612.0
L√©on: The Professional (a.k.a. The Professional) (L√©on) (1994),L√©on: The Professional (a.k.a. The Professiona...,18707.5
Eternal Sunshine of the Spotless Mind (2004),Eternal Sunshine of the Spotless Mind (2004)Et...,18530.0
2001: A Space Odyssey (1968),2001: A Space Odyssey (1968)2001: A Space Odys...,17404.5
Inception (2010),Inception (2010)Inception (2010)Inception (201...,15119.0
"Big Lebowski, The (1998)","Big Lebowski, The (1998)Big Lebowski, The (199...",13312.0
Donnie Darko (2001),Donnie Darko (2001)Donnie Darko (2001)Donnie D...,12586.0
Forrest Gump (1994),Forrest Gump (1994)Forrest Gump (1994)Forrest ...,12330.0

# üíÄ Piores 10 Filmes Segundo as Avalia√ß√µes dos Usu√°rios

In [101]:
melhores_filmes[-10:].sort_values(by='Avaliacao')

,Nome,Avaliacao
title_x,,
Losin' It (1983),Losin' It (1983),1.0
Begotten (1990),Begotten (1990)Begotten (1990)Begotten (1990),1.5
"Oh, God! Book II (1980)","Oh, God! Book II (1980)",1.5
My Demon Lover (1987),My Demon Lover (1987)My Demon Lover (1987),2.0
Angie (1994),Angie (1994),2.0
"Brandon Teena Story, The (1998)","Brandon Teena Story, The (1998)",2.0
Jonah: A VeggieTales Movie (2002),Jonah: A VeggieTales Movie (2002),2.0
"Hunting of the President, The (2004)","Hunting of the President, The (2004)",2.5
Sands of Iwo Jima (1949),Sands of Iwo Jima (1949),2.5
Hello Again (1987),Hello Again (1987),2.5


# üåü G√™neros Mais Queridos Pelos F√£s

In [82]:
filme = filme.rename(columns={'title':'Titulo','movieId':'Id filme','genres':'Genero'})
filme['Notas'] = filmes['rating']
gen = filme.groupby('Titulo')[['Notas','Genero']].sum().sort_values(by='Notas',ascending=False)
gen[:10]

,Notas,Genero
Titulo,,
War of the Worlds (2005),8.5,Action|Adventure|Sci-Fi|ThrillerAction|Sci-Fi
Emma (1996),8.5,Comedy|Drama|RomanceRomance
Eros (2004),8.0,DramaDrama|Romance
Saturn 3 (1980),7.5,Adventure|Sci-Fi|ThrillerSci-Fi|Thriller
Confessions of a Dangerous Mind (2002),6.0,Comedy|Crime|Drama|ThrillerComedy|Crime|Drama|...
Live Nude Girls (1995),5.0,Comedy
Candyman: Farewell to the Flesh (1995),5.0,Fantasy|Horror
Cat People (1942),5.0,Drama|Horror|Romance|Thriller
Like Mike (2002),5.0,Children|Comedy|Fantasy
101 Dalmatians (One Hundred and One Dalmatians) (1961),5.0,Adventure|Animation|Children